/* Asegurarse de que .last-figure no tenga una altura fija que pueda interferir */
.last-figure {
    width: 20%; /* Asegura que .last-figure ocupe todo el ancho disponible */
    /* No especificar una altura fija aquí, o ajustarla según sea necesario */
  }
  
  .second-canvas canvas {
    width: 100%; /* Asegura que el canvas ocupe todo el ancho disponible de su contenedor */
  }
  
  /* Estilos para la tabla */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* Centra la tabla y agrega margen */
    font-size: 1.2em; /* Ajusta el tamaño de la letra */
  }
  
  .styled-table th,
  .styled-table td {
    padding: 10px;
    border: 1px solid #ddd; /* Líneas para visualizar mejor la tabla */
    text-align: left;
  }
  
  .styled-table th {
    background-color: #174c19; /* Fondo de color para la primera columna */
    color: rgb(255, 255, 255);
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #ffffff; /* Fondo de color para filas pares */
    color: black;
  }
  
  .first-col {
    width: 50%; /* Ajusta el ancho de la primera columna si es necesario */
  }
  
  /* Estilo para la columna de acciones */
  .action-cell {
    text-align: center;
  }
  
  /* Estilo para el botón de edición */
  .edit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #modelsChart,
  #featuresChart {
    height: 400px; /* Ajusta este valor según la altura deseada */
  }
  
  .btn-eliminar {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #ffffff; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  header {

    color: white;
    padding: 10px 0; /* Reducido el padding para reducir el espacio vertical */
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.caja {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    margin-right: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
    text-emphasis-color: #8fc027;
}

.escudo {
    max-width: 100%;
    height: auto;
    margin-top: 0; /* Elimina el margen superior para que la imagen esté más cerca del borde superior */
}

/* Estilo inicial para los enlaces dentro de los elementos <li> */
.fh5co-main-nav ul li a {
  color: white; /* Color inicial del texto */
  text-decoration: none; /* Elimina el subrayado */
}

/* Estilo para los enlaces al pasar el cursor sobre ellos */
.fh5co-main-nav ul li a:hover {
  color: #8fc027; /* Color del texto al pasar el cursor */
}


/* footer */

/* Estilos generales */


/* Estilo del footer */
#fh5co-footer {
  font-size: 18px;
  background-color: #333;
  color: #D3D3D3;
  padding: 30px 0; /* Aumenta el padding para un espacio más grande */
  margin-top: 40px; /* Aumenta el margen superior para un espacio más grande */
}

/* Estilo del contenedor */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilo de la fila */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo de las columnas */
.col-md-4,.col-md-3,.col-md-3.col-md-push-1 {
  flex: 1 0 21%; /* Ajusta el ancho de las columnas */
  margin-bottom: 20px; /* Espacio entre las columnas */
  padding: 20px; /* Añade padding para un espacio interior más grande */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  
}


/* Estilo de los títulos */
.col-md-4 h3,.col-md-3 h3,.col-md-3.col-md-push-1 h3 {
  text-align: center;
  margin-top: 0; /* Elimina el margen superior de los títulos */
  font-size: 1.2em; /* Aumenta el tamaño del texto de los títulos */
  margin-bottom: 10px; /* Añade un margen inferior para separar el título del contenido */
}

/* Estilo del copyright */
.col-md-12.fh5co-copyright {
  text-align: center;
  margin-top: 30px; /* Aumenta el margen superior para separar el contenido del copyright */
}

/* Estilo del párrafo de copyright */
.col-md-12.fh5co-copyright p {
  text-align: center;
  margin: 0; /* Elimina el margen de los párrafos */
  font-size: 0.9em; /* Reduce el tamaño del texto del copyright */
}
