* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #181f38;
    font-family: "Poppins", monospace;
    color: white;
    font-size: 0.7em;
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  /*header */
  header {
    padding: 5px 0px;
    margin-bottom: 80px;
  }
  
  .logo {
    width: 15%;
    margin-bottom: 2px;
  }
  
  nav {
    position: absolute;
    top: 10px;
    right: 0px;
  }
  
  .caja {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 2100px;
    position: relative;
    margin-bottom: 0px;
    text-align: center;
  }

  .cajita{
    font-size: x-large;
  }
  
  .ee {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  
  nav a {
    text-transform: uppercase;
    color: #f2f3ff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  html {
    padding: 20px;
    font-weight: 300;
  }
  
  main {
    padding: 60px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 3em;
    font-weight: 100;
  }
  
  h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
    font-weight: 200;
  }
  
  hr {
    border-color: white;
    margin: 10px 0;
  }
  
  figure,
  canvas {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 10px 10px 30px;
  }
  
  canvas {
    width: 100%;
  }
  
  /* grid */
  
  [class*="cols"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .cols-1 > * {
    width: 100%;
    margin: 10px;
  }
  
  .cols-2 > * {
    width: 50%;
    margin: 10px;
  }
  
  nav a:hover {
    color: #c78c19;
    text-decoration: underline;
  }
  
  @media (max-width: 800px) {
    main {
      padding: 0;
    }
  
    h1 {
      font-size: 2.1em;
      font-weight: 100;
    }
  
    [class*="cols"] {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .cols-2 > * {
      width: 100%;
    }
  
    #downloadsChart {
      font-family: Arial;
      font-size: 10%;
      text-align: center;
      color: rgb(255, 255, 255);
    }
  }

  
